.jumbotron {
    background-color:  rgb(255, 204, 0);
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(255, 204, 0);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 10px 5px;
    margin-top: 10px;
}

p{
    font-family: fantasy;
    font-size: 85%;
}

li{
    font-family: fantasy;
    font-size: 85%;
}

h1{
    font-family: fantasy;
}

h3{
    font-family: sans-serif;
}

h5{
    font-family: sans-serif;
}
.btn-reserva {
    width: 100%;
}

address{
    font-family: sans-serif;
}

a{
    font-family: sans-serif;
    color:  black;
}